In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

Laden der Daten:

In [3]:
data = pd.read_csv("data_insurance.csv", sep = ";", names = ['age', 'sex', 'bmi', 'children', 'smoker', 'canton', "pbf", 'charges'])
data = data.iloc[1:]

data['charges'] = data['charges'].str.replace("â€™", "").apply(pd.to_numeric)
data['pbf'] = data['pbf'].apply(pd.to_numeric)
data['bmi'] = data['bmi'].apply(pd.to_numeric)
data['age'] = data['age'].apply(pd.to_numeric)
data['children'] = data['children'].apply(pd.to_numeric)
data.head()

   age sex     bmi  children smoker canton    pbf  charges
1   19   w  24.720         0     ja     SO  35.94     4253
2   18   m  29.416         1   nein     AG  26.86     2494
3   28   m  28.800         3   nein     AG  26.92     3138
4   33   m  20.564         0   nein     BS   7.98     1553
5   32   m  25.504         0   nein     BS  21.84     2768